body {
  background: #222;
  color: #eee;
}
ul.menu {
  padding: 0;
  font-size: 14px;
}
.menu > li > a { transition: all 0.7s; color: #ddd; font-weight: bold; display: inline; }

.menu > li > a:hover { cursor: pointer; text-shadow: 1px 1px 2px #fff; color: #fff;}

.level-select {
  position: fixed;
  font-size: 30px;
  background: white;
  color: black;
  padding: 50px;
}
#stats {
  position: absolute;
  top: -20px;
  height: 20px;
  right: 0px;
  background: #eee;
  color: black;
}
#gameboard_container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;

}
#gameboard_wrapper {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  border: 2px solid white;
	display: none;
}

#gameboard_inner {
  background: #999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

canvas#temp_gameboard {
	border: 2px solid white;
	background: #695D46;
}

body.play-mode #temp_gameboard{
  transition: border 0.5s, opacity 0.5s;
  border: 2px solid white;
  opacity: 1.0;
}
body.pause-mode #temp_gameboard {
  transition: border 0.5s, opacity 0.5s;
  border: 2px solid red;
  opacity: 0.5;
}


#time-slider {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: black;
  color: white;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

#notification {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  height: 0px;
  background: black;
  color: white;
  font-family: sans-serif;
  transition: all 2s;
}

#notification.show {
  height: 30px;
  opacity: 1.0;
}

#time-slider span {
  position: absolute;
  right: 30px;
  bottom: 5px;
}
#time-slider .line {
  position: absolute;
  background: #aaa;
  top: 15px;
  left: 00px;
  right: 00px;
  height: 3px;
}

#time-slider .notch {
  top: 5px;
  height:20px;
  width: 10px;
  background: green;
  position: absolute;
}

.fork {
  height: 1%;
  width: 1%;
  margin-top: -0.5%;
  margin-left: -0.5%;
  position: absolute;
  background: blue;
  opacity: 0.7;
  box-shadow: 0px 0px 10px blue;
}

.player {
  transition: all 0.1s;
  height: 1%;
  width: 1%;
  margin-top: -0.5%;
  margin-left: -0.5%;
  position: absolute;
  background: blue;
  border: 1px solid white;
}

.tools {
  width: 50px;
  background: white;
  color: black;
  display: none;
  position: absolute;;
  left: 0;
  top: 0;
}
.tools-show {
  position: relative;
}
.tools-show:hover .tools {
  display: block;
}
.tools ul {
  padding: 0;
}

.tools ul li {
  padding: 5px;
}
.tools ul li.active {
  background: black;
  color: white;
}

.build-board {
  margin: 30px;
  overflow: auto;
  width: 100%;
}

.block {
  width: 23px;
  height: 23px;
  display: inline-block;
  background: #fff;
  border: 1px solid black;
}
.block.blank { background: #fff; }
.row {
  height: 25px;
}
.block.wall {
  background: #333;
}
.block.fire {
  background: orange;
}
.block.crate {
  background: khaki;
}
.player {
  background: blue;
  height: 12px;
  width: 12px;
  position: relative;
  top: 5px;
  left: 5px;
}

.block.win {
  background: green;
}
.block.start-pos {
  margin-left: 2px;
  box-sizing: border-box;
  border: 3px dotted blue;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.export-data {
  position: fixed;
  border: 30px solid black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.export-data  textarea {
  height: 100%;
  width: 100%;
