.*.sw*

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
*.exr
*.exr.meta
LightmapSnapshot.*

# ================= #
# Blender generated #
# ================= #
*.blend
*.blend1

# ========================== #
# Please to otherwise ignore #
# ========================== #
local/
